#placeholder-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: grey;
  text-decoration: none;
}

#placeholder-container:hover .add-container {
  background-color: LightGrey;
}


.add-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 8;
  background-color: white;
  font-size: 1.7em;
  color: #579EF7;
}

.placeholder-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: .25em;
}

#placeholder-container:hover #placeholder-edit {
  display: flex;
}

#placeholder-container:hover #placeholder-delete {
  display: flex;
}

.placeholder-title {
  font-size: 1.5em;
  color: grey
}

.placeholder-title-input {
  font-size: 1.5em;
  color: green;
  background-color: #EDF0F5;
  outline: none;
  border: none;
}

.placeholder-edit-options {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#placeholder-delete {
  font-size: 1.4em;
  display: none;
}

#placeholder-edit {
  margin-right: .5em;
  font-size: 1.4em;
  display: none;
}

#placeholder-delete:hover {
  color: red;
}

#placeholder-edit:hover {
  color: green;
}
