.widget-thumbnail {
  display: flex;
  margin: 1em;
  height: 6em;
  width: 8em;
  margin: 0;
}

.widget-thumbnail-container {
  display: flex;
  margin: 1em;
  padding: .3em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.widget-thumbnail-title {
  display: flex;
  flex: 1;
}
